# C++ Build tools required for ChromaDB
# Document Parsers
pypdf

# Model dependencies
ollama

# Retrieval Augmented Generation
langchain
langchain-community
langcahin-openai
langchain-ollama

# Vector Store (Likely to change)
chromadb
setence_transfrormers

